{% extends 'blog/base.html' %}
{% load static %}
{% load base_tags %}
    
  {% block content %}
  <!-- Page Content -->
    <!-- Banner Starts Here -->
    <div class="banner">
      <div class="container">
        <div class="row">
          <div class="col-md-8 offset-md-2">
            <div class="header-text caption">
              <h2>Best Articles Are Here</h2>
              <div id="search-section">
               <div class="advSearch_chkbox">
               </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Banner Ends Here -->
    
    <!-- Features Starts Here -->
    <div class="features-section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <h2>ARTICLES list</h2>
            </div>
          </div>
          {% for article in categoies.articles.all %}
            <div class="col-md-6">
              <div class="feature-item">
                <div class="icon">
                  <img src="{% static 'blog/assets/images/feature-01.png'%}" alt="">
                </div>
                <a href="{% url 'blog:detail' article.slug %}"><h4>{{article.title}}</h4></a>
                <p>{{article.description|truncatewords:40}}</p>
                <p>{{article.j_published}}</p>
              </div>
            </div>          
          {% endfor %}
          
        </div>
      </div>
    </div>
    <!-- Features Ends Here -->

    
  {% endblock content %}
    